<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springHelloWorld"
          class="com.mochen.hello.SpringHelloWorld"/>
    <bean id="strutsHelloWorld"
          class="com.mochen.hello.StrutsHelloWorld"/>
    <bean id="helloWorldService"
          class="com.mochen.hello.HelloWorldService">
        <property name="helloWorld" ref="springHelloWorld"/>
    </bean>
</beans>
